
<!Doctype>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/static/normalize.css"/>
        <link type="text/css" rel="stylesheet" href="/static/styles.css"/>
        <title>Build-A-Blog</title>
    </head>
    <body>
        <header>
            <div>
                <nav>
                    <ul>
                        <li class="TopNav"><a href="/blog">Home</a></li>
                        <li class="TopNav"><a href="/newpost">New Post</a></li>
                    </ul>
                </nav>
            </div>
            <div>
                <h2><a href="/blog">Melissa's Blog</a></h2>
            </div>
        </header>
        {% block content %}
        {% endblock %}
        <footer>
            <div>
                <nav class="BottomNav">
                    <ul>
                        <li><a href=""> &lt prev</a></li>
                        <li><a href="">next &gt</a></li>
                    </ul>
                </nav>
            </div>
        </footer>
    </body>
</html>
